.offer {
    
    background-color: #eee;
}


.offer-content {
    padding: 1rem 2rem;
}
.offer-content .sub-title {
    padding: 1rem;
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.8rem;
}
.offer-content .offer-title {
    font-size: 2.2rem;
    color: var(--primary-color);
    text-align: center;
    margin: 1.8rem 0;
}

.options-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    grid-gap: 1rem;
}

.options-cards .cards {
    padding: 1rem 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}
.options-cards .cards .icon {
    font-size: 2rem;
    color: var(--primary-color);
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}
.options-cards .cards h3 {
    margin: 1.3rem 0;
    font-size: 1.8rem;
    color: #333;
}
.options-cards .cards p  {
    font-size: 1.2rem;
    text-align: center;
    color: #222;
    line-height: 1.5;
}


/*  About section  */

.about {
    padding: 2rem;
    background-color: #eee;
}

.about .container {
    display: flex;
    gap: 1rem;
}

.left-info {
    flex: 1;
    padding: 1.5rem;
}
.left-info .sub-title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: bold;
}
.left-info .title {
    font-size: 2.2rem;
    color: #333;
    font-style: italic;
    letter-spacing: 1px;
    margin: 1rem 0;
}
.left-info .info-text {
    margin: 1.4rem 0;
    padding: 1rem;
}
.left-info .info-text p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-indent: 1.2rem;
}
.left-info .about-btn {
    margin-top: 1.5rem;
    padding: .8rem 1.1em;
    font-size: 1.3rem;
    color: #eee;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 8px;
}


.right-img {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 2rem;
}

.right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, .6);
}

.right-img .float-image {
    border: 5px solid var(--primary-color);
    position: absolute;
    top: 20px;
    left: 0px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
.right-img .float-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.right-img .float-image-2 {
    border: 5px solid var(--primary-color);
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
.right-img .float-image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



/*  Middle BG Section  */

.middle-section {
    height: 85vh;
    display: flex;
    position: relative;
}

.middle-section .left-bg {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url('../assets//BG\ 1\ -\ AÇAI\ BOWL\ .jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
}

.middle-section .right-bg {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7)), url('../assets/BG\ 2\ -\ Açaí\ \ brasileiro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
}

.middle-section .center-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .5);
    height: 60%;
    width: 60%;
    border-radius: 10px;
    padding: 1.5rem 2rem;
}

.center-container h1 {
    color: #eee;
    font-size: 1.7rem;
    text-align: center;

}

.center-container .icons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 1rem 0;
}

.center-container .icons img {
    width: 80px;
    height: 80px;
}

.center-container .buttons-box {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.center-container .buttons-box button {
    padding: .9rem 1.1rem;
    width: 180px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.center-container .buttons-box button:first-child {
    background-color: var(--primary-color);
}
.center-container .buttons-box button:last-child { 
    background-color: var(--secondary-color);
}