@import "style.css";

.contact {
    margin-top: 3rem;
    background: var(--BG-color);
    border: 3px solid red;
    height: 100vh;
}

.wrapper {
    display: flex;
}

.wrapper .text-content {
    flex: 1;
    margin: auto 0;
    height: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-content h1 {
    color: #444;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.text-content .phone-info {
    margin: 2rem 0;
    
}
.text-content .phone-info h3 {
    color: #444;
    font-size: 1.3rem;
    font-weight: 500;
}
.text-content .phone-info > span {
    color: #555;
    margin: 1rem 0;
    font-size: 1.1rem;
    font-weight: 400;
    display: block;
}
.text-content .phone-info > div,
.text-content .email-info > div {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.text-content .phone-info > div i,
.text-content .email-info > div i {
    font-size: 1.4rem;
    color: var(--secondary-color);
}
.text-content .email-info {
    color: #444;
    font-size: 1.3rem;
    font-weight: 500;
}
.text-content .email-info h3 {
    color: #444;
    font-size: 1.3rem;
    font-weight: 500;
}
.text-content .email-info > span {
    color: #555;
    margin: 1rem 0;
    font-size: 1.1rem;
    font-weight: 400;
    display: block;
}

.form-content {
    flex: 1;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.form-content form {
    width: 100%;
    height: 80%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fff;
}

form .input-field {
    padding: .5rem;
}

.input-field input {
    padding: .7rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
    background-color: #eee;
    font-size: 1rem;
}

.input-field .input-name {
    position: absolute;
    top: 5px;
    left: 5px;
}

.input-field textarea {
    width: 100%;
    background-color: #eee;
    height: 120px;
    resize: none;
    border: none;
    outline: none;
    padding: .7rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

.input-field input,
.input-field textarea::placeholder {
    padding: .6rem;
}

.form-button {
    padding: .7rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    border: none;
    margin: 0px 0px 1rem 1.2rem;
}
