@import 'style.css';


.wrapper {
    border: 2px solid orangered;
    height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
}
.active {
    background-color: rgb(174, 198, 223);
}

.wrapper .buttons-tabs {
    height: 70%;
    flex: 1;
    background-color: var(--BG-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 12px;
}

.wrapper .buttons-tabs button {
    padding: .8rem 1rem;
    width: 70%;
    font-size: 1.2rem;
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.wrapper .buttons-tabs .btn-tab.active {
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
}

.wrapper .buttons-tabs button:hover {
    color: var(--secondary-color);
}

.wrapper .cards-container {
    border: 2px solid green;
    height: 100%;
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
}

.wrapper .cards-container .card {
    width: 150px;
    height: 150px;
    background-color: #777;
    border-radius: 8px;
    transition: all .3s;
}

.wrapper .cards-container .card.hide {
    display: none;
    transition: all .4s;
}

.wrapper .cards-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}