@import 'style.css';

.produtos {
    padding: 2rem;
}

.produtos .wrapper {
    height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.active {
    background-color: rgb(174, 198, 223);
}

.produtos .wrapper .buttons-tabs {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: .8rem;
}

.produtos .wrapper .buttons-tabs button {
    padding: .6rem;
    width: 100%;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.wrapper .buttons-tabs .btn-tab.active {
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
}

.wrapper .buttons-tabs button:hover {
    color: var(--secondary-color);
}

.wrapper .cards-container {
    height: 100%;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
}

.wrapper .cards-container .card {
    width: 250px;
    height: 150px;
    transition: all .3s;
    display: flex;
}
.image-content {
    flex: 1;
}
.image-content img {
    width: 100%;
}
.product-info {
    flex: 1;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.product-info .add-cart {
    background-color: var(--primary-color);
    color: #fff;
    width: 60%;
    padding: .3rem .6rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
}
.product-info span {
    font-weight: 600;
    margin-left: 10px;
}
.product-info .title {
    margin-left: 10px;
    color: var(--secondary-color);
}

.card.hide {
    display: none;
    transition: all .4s;
}

.card .image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}