
:root {
    --primary-color: #642667;
    --BG-color: #C8AFD4;
    --secondary-color: #F6F6F6;
    --BG-sec-color: #402846;
    --BG-2-color: #7C6184;

    --secondary-color: #64B240;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

main {
    background-color: #fff;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    height: 90vh;    
}

.horizonttal-line {
    width: 90%;
    height: 4px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 0 auto 3em auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    
    max-width: 1920px;
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color); 
    padding: 0 2rem;
    margin: auto;
    z-index: 100;
}

.header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}

.header .logo {
    padding: 1rem;
}
.header .logo .title {
    display: flex;
    align-items: center;
    color: #eee;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
}

.header .logo .title img {
    width: 80px;
}

.header .menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.header .menu a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #eee;
    font-weight: bold;

}


.nav-icons {
    display: flex;
    gap: 2.6rem;
    padding: 1rem;
}
.nav-icons i {
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
}



.home-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 2rem 1.5rem;
    gap: 1rem;
    background-color: #eeefff;
    margin-top: 6rem;
}

.home-content .content-image {
    flex: 1;
}

.home-content .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-info {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
  
    flex-direction: column;
    padding: 3rem;
}

.content-info .info {
    flex: 1;
    padding: 1rem;
}

.content-info .info .apps-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-info .info h1 span {
    color: var(--secondary-color);
    font-style: italic;
}
.content-info .info h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}
.content-info .info h3 {
    margin-top: 2rem;
    text-align: center;
    color: #444;
    font-size: 2rem;
}

.content-info .btn-contents {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.content-info .btn-contents button {
    padding: 1.5rem;
    width: 180px;
    height: 70px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;

}

.content-info .btn-contents .btn-action {
    background-color: var(--secondary-color);
    color: #fff;
}
.content-info .btn-contents .btn-menu {
    background-color: var(--primary-color);
    color: #fff;
}

.container-img {
    border: 3px solid blueviolet;
    object-fit: cover;
}

.container-img img {
    width: 100%;
    height: 100%;
}


/*    Cart Menu   */





/*  Login Mdal   */





/*   Search Modal  */ 