/*  */
.login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    place-items: center;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    border: 3px solid red;
    z-index: -20;
}

/*  JS - className  manipulation */
.login-modal.show {
    opacity: 1;
    z-index: 20;
    display: grid;
    
}

/* TOdo Modal */

.content-login {
    max-width: 480px;
    width: 100%;
    height: 380px;
    padding: 1.5rem;
    background-color: #eee;
    transition: transform.4s ease-in-out 3s;
    border-radius: 8px;
    position: relative;
}

.content-login h2 {
    text-align: center;
    margin-bottom: .8rem;
    color: #444;
    text-transform: uppercase;
}

.login-modal form .inputWrapper {
    padding: .7rem;
    display: flex;
    flex-direction: column;
}

.inputWrapper label {
    font-size: 1.3rem;
    color: #222;
    margin-bottom: .8rem;
}

.inputWrapper input {
    padding: .8rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 100%;
    outline: none;
    border: 1px solid #999;
}
.inputWrapper input:focus {
    outline: 2px solid var(--primary-color);
}

.login-modal form > button {
    padding: .6rem .8rem;
    border: none;
    border-radius: 5px;
    background-color: var(--BG-sec-color);
    color: #fff;
    cursor: pointer;
    width: 140px;
    margin: 1rem;
    font-size: 1.3rem;
}

.content-login form .right-box-info {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: .8rem;
    width: 45%;
}

.content-login form .right-box-info .sign-up-btn button {
    border: none;
    color: #333;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
} 
.content-login form .right-box-info .sign-up-btn button:hover {
    color: var(--primary-color);
}
.content-login form .right-box-info .forgot-pass {
    color: #333;
    font-size: 1rem;
    display: block;
    cursor: pointer;
} 
.content-login form .right-box-info .forgot-pass:hover {
    color: var(--primary-color);
}

.content-login .forgot-pass {
    display: flex;
    justify-content: flex-end;
}

/* Close X btn */

.content-login .close-x {
    background-color: crimson;
    width: 27px;
    height: 27px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.content-login .close-x span {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
}